.App {
  box-sizing: border-box;
  background: #0a2a43 !important;
  color: black!important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  width: 5vw;
  object-fit: contain;
}

.error-image {
  width: 15vw;
}

.not-found {
  margin-top: 5%;
}

