.App {
  box-sizing: border-box;
  /* background: #0a2a43 !important; */
  color: black!important;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.logo {
  width: 3vw;
  object-fit: contain;
}

.error-image {
  width: 10vw;
}

.not-found {
  margin-top: 5%;
  margin-left: 10%;
}
